name: Generate Documentation

# only on merged pr
on:
    pull_request:
        types: [closed]

jobs:
    generate-docs:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            pages: write
            id-token: write

        steps:
            - uses: actions/checkout@v4

            - name: Cache Maven packages
              uses: actions/cache@v4
              with:
                path: ~/.m2/repository
                key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
                restore-keys: |
                    ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}

            - uses: actions/setup-java@v4
              with:
                  distribution: 'corretto'
                  java-version: '21'

            - run: mvn -B javadoc::javadoc

            - uses: peaceiris/actions-gh-pages@v4
              with:
                 github_token: ${{ secrets.GITHUB_TOKEN }}
                 publish_dir: ./public